/* Colores NotID */
.notid-bg-mist{
    background-color: #90afc5;
}
.notid-bg-stone{
    background-color: #336b87;
}
.notid-bg-shadow{
    background-color: #1E1F26;
}
.notid-bg-autimnFoliage{
    background-color: #763626;
}
.notid-title{
    color: #90afc5;
    font-family: 'Lobster', cursive;
}
.notid-white{
    color: white;
    font-family: 'Nunito', sans-serif;
}
.notid-black{
    color: black;
    font-family: 'Nunito', sans-serif;
}
.notid-mist{
    color: #90afc5;
    font-family: 'Nunito', sans-serif;
}
.notid-stone{
    color: #336b87;
    font-family: 'Nunito', sans-serif;
}
.notid-shadow{
    color: #2a3132;
    font-family: 'Nunito', sans-serif;
}
.notid-autimnFoliage{
    color: #763626;
    font-family: 'Nunito', sans-serif;
}
.notid-btn-mist{
    color: #90afc5;
    border-color: #90afc5;
    font-family: 'Nunito', sans-serif;
}
.notid-btn-stone{
    color: #2a3132;
    border-color: #2a3132;
    font-family: 'Nunito', sans-serif;
}
.notid-btn-autimnFoliage{
    color: #763626;
    border-color:#763626;
    font-family: 'Nunito', sans-serif;
}

.notid-btn-sidebar{
    color: transparent;
}
.notid-btn-stone:hover{
    color:#763626;

}

@media (min-width:768px){
.category-item:hover .category-item-close{
    /* opacity: .3; */
    color:  #763626;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
}
.sidebar{
    position: sticky;
    height: 100%;
    /* top: 0;
    bottom: 0;
    left: 0; */
    z-index: 1;
}
.notid-navbar{
    min-height: 40px;
}

.notid-sidebar-content{
    height: calc(100vh - 56px);
}

.notid-sidebar-category{
    background-color: #90afc5;
    border-radius: .2rem;
    /* opacity: 0.1; */
    color: #763626;
    border-color:#763626;
    font-family: 'Nunito', sans-serif;
}

.notid-notes-container{
    border-radius: .3rem;
    background-color: aliceblue;
}
/* Font Awesome Icons */
.fa-cat {
    color: orange;
}
.fa-dove {
    color: darkcyan;
}
.fa-fish {
    color:salmon;
}
.fa-frog {
    color: green;
}
.fa-spider {
    color:black;
}
.fa-dog {
    color: purple;
}

.bg-modal{
    background-color: #ECECEC;
}
